registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
update-notifier=false
@actions:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@azure:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@isaacs:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@types:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@typespec:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
